server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:3000
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: user-service
          uri: http://localhost:5000
          predicates:
            - Path=/user/**

        - id: report-service
          uri: http://localhost:5001
          predicates:
            - Path=/report/**

        - id: analytics-service
          uri: http://localhost:5002
          predicates:
            - Path=/ml/**

        - id: event-service
          uri: http://localhost:5003
          predicates:
            - Path=/event/**

        - id: reward-service
          uri: http://localhost:5004
          predicates:
            - Path=/reward/**

        - id: resource-service
          uri: http://localhost:5005
          predicates:
            - Path=/resource/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true